@dark-gray: #444444;
@light-gray: #f1f1f1;
@light-green: #63d1bb;
@dark-green: #56c3b2;
@hover-green: #46c1ae;
@icon-green: #149080;
@black: #000000;
@white: #ffffff;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
@tablet: ~"min-width: 768px";
@desktop: ~"min-width: 1150px";
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
