.catalog {
  .container();
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 36px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
}
