.contacts__wrap {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__title {
  .reset();
  font-size: 18px;
  line-height: 30px;
  color: @black;
  font-weight: 700;
}

.contacts__table td {
  padding-right: 25px;
  padding-bottom: 35px;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
}

.contacts__link {
  color: @dark-gray;

  &:after {

  }
}

.contacts__map {
  width: 100%;
  height: 455px;
}

.contacts__map iframe {
  border: 0;
}

.contacts__button {
  margin: 40px auto;
}
