.features {
  padding-left: 30px;
  padding-right: 30px;
}

.features__title {
  .reset();
  .title-big();
  margin-bottom: 30px;
}

.features__list {
  .reset();
  list-style: none;
}

.features__item {
  .title-small();
  position: relative;
  padding-top: 57px;
  margin-bottom: 28px;
  color: @black;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
