.features {
  .container();
}

.features__title {
  .reset();
  .title-big();
  margin-bottom: 30px;
}

.features__list {
  .reset();
  list-style: none;
}

.features__item {
  .title-small();
  position: relative;
  padding-top: 57px;
  margin-bottom: 28px;
  color: @black;
}

.features__icon {
  position: absolute;
  top: 0;
  bottom: 0;

  path {
    fill: @light-green;
  }
}

@media (min-width: @tablet-width) {
  .features {
    margin-bottom: 25px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 50%;
    padding-right: 40px;
    margin-bottom: 60px;
  }

  .features__item--clew {
    order: 2;
  }

  .features__item--money {
    order: 3;
  }

  .features__item--rocket {
    order: 4;
  }

  .features__item--heart {
    order: 5;
  }

  .features__item--gift {
    order: 6;
  }
}

@media (min-width: @desktop-width) {
  .features {
    padding-left: 225px;
  }
}
