.hit {
  position: relative;
  display: flex;
  flex-direction: column;
  .container();
  padding-top: 29px;
  padding-bottom: 41px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 50%;
    background-size: auto 7px;
  }
}

.hit__heading {
  margin-bottom: 20px;
}

.hit__title {
  .reset();
  .title-big();
  margin-bottom: 5px;
}

.hit__subtitle {
  .reset();
  .title-small();
  color: @light-green;
  text-transform: uppercase;
}

.hit__description {
  .reset();
  margin-bottom: 18px;
}

.hit__table {
  width: 100%;
  margin-bottom: 27px;
}

.hit__table td {
  padding-top: 7px;
  padding-bottom: 6px;
  padding-right: 20px;
  border-bottom: 1px solid @light-gray;
  border-collapse: collapse;
}

.hit__image {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: 0;

  img {
    display: block;
    width: 100%;
  }
}

.hit__price {
  .reset();
  margin-bottom: 26px;
  font-size: 17px;
  color: @dark-gray;
  font-weight: 700;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .hit {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 67px;

    &::after {
      width: 768px;
      height: 16px;
      background-size: auto 16px;
      background-position: 20px 50%;
    }
  }

  .hit__heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 29px;
    margin-bottom: 44px;
  }

  .hit__about {
    width: 290px;
  }

  .hit__subtitle {
    width: 71px;
    margin-left: auto;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .hit__description {
    margin-bottom: 33px;
  }

  .hit__table {
    font-size: 15px;
    line-height: 20px;
  }

  .hit__table td {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 0;
  }

  .hit__image {
    width: 334px;
    margin: 0;
    margin-top: 7px;
  }

  .hit__order {
    width: 290px;
    margin-top: -114px;
  }

  .hit__price {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    flex-direction: column;
    padding-top: 108px;
    padding-bottom: 98px;

    &::after {
      left: 50px;
      width: 1050px;
      height: 23px;
      background-position: 26px 50%;
      background-size: 1050px 23px;
    }
  }

  .hit__image {
    width: 525px;
    margin-top: -525px;
    margin-left: auto;
  }

  .hit__heading {
    width: 700px;
    z-index: 1;
  }

  .hit__subtitle {
    order: -1;
    margin: auto;
    padding-top: 5px;
    font-size: 17px;
    line-height: 17px;
  }

  .hit__description {
    margin-bottom: 47px;
  }

  .hit__table {
    margin-bottom: 105px;
  }

  .hit__table td {
    padding-top: 6px;
    padding-bottom: 12px;
  }

  .hit__order {
    margin-bottom: auto;
    margin-left: 175px;
  }

  .hit__about {
    margin-left: 175px;
  }
}
