.intro {

  background-color: @light-gray;

  &--index-page {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: top;
  }
}

.intro__wrap {
  position: relative;
  .container();
  padding: 0;
}

.intro__title {
  .reset();
  .title-big();
  padding-top: 104px;
  padding-bottom: 80px;
  font-size: 27px;
  text-align: center;

  &--index-page {
    padding-top: 160px;
    padding-bottom: 120px;
  }
}

.intro__note {
  display: none;
  .reset();
  position: absolute;
  top: 25px;
  right: 50px;
}

@media (min-width: @tablet-width) {
  .intro {
    border-top: 1px solid @light-gray;
  }

  .intro__wrap {
    display: flex;
    flex-direction: column;
  }

  .intro__note {
    display: block;
    order: -1;
    font-size: 15px;
  }

  .intro__title--index-page {
    padding-bottom: 372px;
  }
}

@media (min-width: @desktop-width) {
  .intro__note {
    right: 100px;
  }

  .intro__title--index-page {
    padding-bottom: 359px;
  }
}
