.order__title {
  .reset();
  .container();
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .order__title {
    padding-top: 60px;
    padding-bottom: 8px;
    font: inherit;
  }
}

@media (min-width: @desktop-width) {
  .order__title {
    padding-top: 105px;
    padding-left: 225px;
    padding-right: 225px;
  }
}
