.order-form {
  padding-bottom: 55px;
}

.order-form__legend {
  .reset();
  margin-bottom: 28px;
  font-size: 17px;
  line-height: 16px;
  color: @light-green;
  font-weight: 700;
  text-transform: uppercase;
}

.order-form__list {
  .reset();
  list-style: none;
}

.order-form__item {
  display: flex;
  flex-direction: column;
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  color: @black;
  font-weight: 700;

  &--radio,
  &--checkbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 22px;
  }

  &--radio:hover::before,
  &--radio:focus::before,
  &--checkbox:hover::before,
  &--checkbox:focus::before {
    border-color: @light-green;
  }

  &--radio:active::before,
  &--checkbox:active::before {
    border-color: @light-gray;
  }

  &--radio::before,
  &--checkbox::before {
    content: "";
    display: block;
    width: 38px;
    height: 38px;
    margin-right: 20px;
    border: 2px solid @dark-gray;
    cursor: pointer;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.order-form__input {
  display: none;
}

.order-form__input:checked ~ .order-form__label--radio::after {
  content: "";
  position: absolute;
  top: 11.5px;
  left: 11.5px;
  width: 15px;
  height: 15px;
  background-color: @light-green;
  border-radius: 50%;
  cursor: pointer;
}

.order-form__input:checked ~ .order-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 9px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.order-form__text {
  width: 100%;
  padding: 22px 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid @black;
}

.order-form__textarea {
  width: 100%;
  min-height: 142px;
  margin-top: 22px;
  margin-bottom: 17px;
  padding: 17px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid @black;
  resize: none;
}

.order-form__text::placeholder,
.order-form__textarea::placeholder {
  color: fade(@black, 30%);
}

.order-form__text:focus,
.order-form__textarea:focus {
  border-color: @light-green;
}

.order-form__note {
  .reset();
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}
