.order-form {
  padding-bottom: 20px;
}

.order-form__wrap {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.order-form__legend {
  display: flex;
  .reset();
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 16px;
  color: @light-green;
  font-weight: 700;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    align-self: center;
    flex-grow: 1;
    height: 1px;
    margin-left: 28px;
    background-color: @dark-green;
  }
}

.order-form__list {
  .reset();
  list-style: none;
}

.order-form__item {
  position: relative;
  min-height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  &--radio,
  &--checkbox {
    padding-left: 58px;
  }

  &--radio {
    padding-top: 0;
    margin-bottom: 7px;
  }

  &--checkbox {
    margin-bottom: 23px;
  }
}

.order-form__label {
  padding: 8px 4px;
  font-size: 17px;
  line-height: 18px;
  color: @black;
  font-weight: 700;

  &--radio::before,
  &--checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 39px;
    height: 38px;
    border: 2px solid @dark-gray;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio:hover::before,
  &--radio:focus::before,
  &--checkbox:hover::before,
  &--checkbox:focus::before {
    border-color: @light-green;
  }

  &--radio:active::before,
  &--checkbox:active::before {
    border-color: fade(@dark-gray, 30%);
  }
}

.order-form__label--name {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
}

.order-form__input {
  display: none;
}

.order-form__input:checked ~ .order-form__label--radio::after {
  content: "";
  position: absolute;
  top: 11.5px;
  left: 11.5px;
  width: 15px;
  height: 15px;
  background-color: @light-green;
  border-radius: 50%;
  cursor: pointer;
}

.order-form__input:checked ~ .order-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 9px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.order-form__text {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid @black;
  background-color: transparent;
}

.order-form__wrap--name {
  margin-top: -3px;
}

.order-form__wrap--email,
.order-form__wrap--tel {
  position: relative;
  margin-bottom: 0;
}

.order-form__wrap--email {
  padding-top: 8px;
}

.order-form__wrap--tel {
  margin-top: -5px;
}

.order-form__text--tel {
  margin-top: -20px;
}

.order-form__text--email {
  margin-top: -20px;
}

.order-form__icon {
  position: absolute;
  top: -10px;
  right: 5px;
  fill: fade(@black, 20%);
}

.order-form__textarea {
  width: 100%;
  min-height: 140px;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid @black;
  resize: none;
  outline: none;
}

.order-form__wrap--textarea {
  padding-top: 9px;
  margin-bottom: 10px;
}

.order-form__text::placeholder,
.order-form__textarea::placeholder {
  color: fade(@black, 30%);
}

.order-form__text:focus,
.order-form__textarea:focus {
  border-color: @light-green;
  transition: all 0.2s ease;
}

.order-form__text:focus + .order-form__icon {
  fill: @light-green;
  transition: all 0.2s ease;
}

.order-form__note {
  .reset();
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .order-form {
    padding-bottom: 50px;
  }

  .order-form__wrap {
    .container();
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;

    &--checkbox {
      padding-bottom: 28px;
    }

    &--name {
      padding-bottom: 13px;
    }

    &--email {
      padding-top: 0;
      padding-bottom: 25px;
    }

    &--tel {
      margin-top: 10px;
      padding-bottom: 0;
    }

    &--textarea {
      padding-bottom: 54px;
    }
  }

  .order-form__text--email,
  .order-form__text--tel {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 13px;
  }

  .order-form__textarea {
    margin-top: 0;
    font-size: 19px;
  }

  .order-form__fieldset--gray {
    background-color: @light-gray;
  }

  .order-form__legend {
    display: block;
    min-width: 60px;
    margin-top: 18px;
    margin-bottom: 28px;
    margin-right: 108px;

    &::after {
      display: none;
    }
  }

  .order-form__list {
    display: flex;
    flex-wrap: wrap;
  }

  .order-form__list--radio {
    flex-direction: column;
  }

  .order-form__list--checkbox {
    justify-content: space-between;
  }

  .order-form__item {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 22px;
  }

  .order-form__icon {
    top: 10px;
    right: 25px;
  }

  .order-form__item--radio,
  .order-form__item--checkbox {
    min-height: 52px;
    padding-left: 78px;
  }

  .order-form__item--radio {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .order-form__item--checkbox {
    width: 238px;
    margin-bottom: 24px;
  }

  .order-form__label {
    font-size: 19px;
  }

  .order-form__label--name {
    padding-top: 0;
    margin-right: 25px;
    margin-top: -5px;
  }

  .order-form__text {
    padding-left: 15px;
    margin-bottom: 3px;
    font-size: 19px;
  }

  .order-form__button {
    width: 230px;
    order: -1;
    margin-right: auto;
  }

  .order-form__note {
    align-self: center;
    margin-bottom: 0;
    font-size: 17px;
  }

  .order-form__label--radio::before,
  .order-form__label--checkbox::before {
    width: 54px;
    height: 52px;
  }

  .order-form__input:checked ~ .order-form__label--radio::after {
    width: 20px;
    height: 20px;
    top: 16px;
    left: 16px;
  }

  .order-form__input:checked ~ .order-form__label--checkbox::after {
    width: 33px;
    height: 22px;
    top: 16px;
    left: 11px;
  }

  .order-form__submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .order-form {
    padding-bottom: 50px;
  }

  .order-form__wrap {
    padding-top: 51px;
    padding-bottom: 51px;

    &--checkbox {
      padding-bottom: 25px;
    }

    &--name {
      padding-bottom: 14px;
    }

    &--tel {
      padding-top: 52px;
      padding-bottom: 0;
    }

    &--email {
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

  .order-form__legend {
    min-width: 175px;
    margin: 0;
    padding-top: 15px;
    padding-left: 60px;
  }

  .order-form__label--name {
    margin-top: 0;
  }

  .order-form__item {
    width: 700px;
  }

  .order-form__text {
    padding-top: 13px;
    padding-bottom: 14px;
  }

  .order-form__item--radio {
    width: 100%;
    margin-top: 0;
  }

  .order-form__item--checkbox {
    width: 262px;
  }

  .order-form__list--checkbox {
    justify-content: flex-start;
  }

  .order-form__icon {
    right: 5px;
  }

  .order-form__note {
    margin-right: 175px;
  }

  .order-form__wrap--textarea {
    margin-bottom: 0;
  }

  .order-form__textarea {
    width: 66.5%;
  }

  .order-form__button {
    margin-left: 175px;
    margin-right: auto;
  }

  .order-form__submit {
    padding-top: 0;
    padding-bottom: 0;
  }
}
