.page-footer {
  background-color: @light-gray;
}

.page-footer__wrap {
  .container();
}

.page-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__wrap {
    display: flex;
  }

  .page-footer__item {
    width: 33.3%;
    padding: 56px 0;
  }
}
