.page-header {
  .container();
  border-bottom: 1px solid @light-gray;
}

.page-header__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
