.products {
  display: flex;
  flex-direction: column;
}

.products__item {
  display: flex;
  padding: 30px;

  &--interior {
    background-color: @light-green;
  }

  &--toys {
    background-color: @dark-green;
  }

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-bottom: 35px;

    .products__icon {
      fill: fade(@icon-green, 70%);
    }
  }

  &:active {
    .products__title {
      color: rgba(255, 255, 255, 0.3);
    }

    .products__icon {
      fill: fade(@icon-green, 30%);
    }
  }
}

.products__icon {
  margin-left: auto;
  fill: fade(@icon-green, 50%);
}


.products__title {
  display: block;
  width: 110px;
  font-size: 19px;
  line-height: 24px;
  color: @white;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .products {
    flex-direction: row;
  }

  .products__item {
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 45px;

    &:hover,
    &:focus {
      padding-bottom: 50px;
    }
  }

  .products__title {
    font-size: 20px;
    line-height: 30px;
  }
}
