.product {
  position: relative;
  margin: 30px 0;
  border: 1px solid @light-gray;
}

.product__title {
  .reset();
}

.product__photo {
  display: block;
  line-height: 0;
}

.product__description {
  display: flex;
  flex-direction: column;
  padding: 28px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product__link {
  margin-bottom: 18px;
  font-size: 17px;
  color: @black;
  font-weight: 700;

  &:hover,
  &focus {
    color: fade(@black, 60%);
  }

  &:active {
    color: fade(@black, 30%);
  }
}

.product__about {
  .reset();
  margin-bottom: auto;
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  .reset();
  padding-top: 20px;
  color: @black;
  font-weight: 700;
  border-top: 1px solid @light-gray;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    margin-top: 55px;
    margin-bottom: 80px;
  }

  .product__photo {
    width: 50%;
    height: 334px;
    outline: 1px solid @dark-green;
  }

  .product__description {
    width: 50%;
  }

  .product__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product__about {
    font-size: 15px;
  }
}

@media (min-width: @desktop-width) {
  .product {
    flex-direction: column;
    width: 316px;
  }

  .product__photo {
    width: 100%;
    height: 462px;
  }

  .product__description {
    width: 100%;
    min-height: 197px;
  }
}
