.top-menu {
  width: 100%;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }
}

.top-menu__list {
  .reset();
  list-style: none;
}

.top-menu__logo {
  display: block;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;
}

.top-menu__logo-image {
  display: block;
  width: 86px;
  margin: 0 auto;
  line-height: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .top-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 84px;
  }

  .top-menu__logo {
    width: 120px;
    order: 1;
    margin-right: auto;
    border: none;
  }

  .top-menu__logo-image {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .top-menu__logo {
    flex-grow: 1;
    margin-right: 0;
  }

  .top-menu__logo-image {
    margin: 0 auto;
  }
}
